.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
  min-height: 100vh;
  display: block;
}

.sidebar{
  width: 30vh;
  min-width: 25vh;
  height: 100%;
  padding: 10px;
  background: aliceblue;
}

.app-logo-button{
  font-size: larger;
}

.main-content{
  height: 100%;
  padding: 40px;
}
